.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {

  @media (prefers-color-scheme: dark) {
    background-color: black;
    color: white;
  }

  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.input {
  margin: 1rem 0;
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  button {
    flex: 1;
    padding: 0.5rem;
    margin-top: 20px;
    font-size: 1rem;
    cursor: pointer;
  }

}

.react-time-picker__wrapper {
  border: red;
  margin: 10px;
  font-size: 20px;
}