.page-clock {
    font-variant-numeric: tabular-nums;
    font-weight: 600;
    margin-bottom: 20px;
}

.kernel,
.evals,
.metalDetector,
.samples {
    display: flex;
    width: 100%;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    h2 {
        width: 80%;
        margin: 0;
        margin-right: 20px;
        font-size: 1.2rem;
        font-weight: 200;
        text-align: left;
    }

    p {
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 2px;
        margin: 0;
    }

    button {
        width: 60px; 
        height: 30px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1e1e1e; 
        border: none;
        border-radius: 12px; 
        cursor: pointer;
    }


    .highlight-red {
        color: rgb(0, 255, 187);
        font-weight: bold;
        animation: pulse 2s infinite;
    }

    @keyframes pulse {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }

    .time-display {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 20px;
            height: 20px;
            opacity: 0.8;
        }

        .animated-time {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
        }
    }
}

.animated-time {
    font-size: 2rem;
    color: white;

    .blinking-colon {
        animation: blink 2.5s infinite;
    }

    @keyframes blink {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0.2;
        }
    }
}